/* font-family: 'Lato', sans-serif; */
body {
  font-family: "Lato", sans-serif;
}
/* common start */
.service, .intro, .gallery, .contact {
  padding: 120px 0;
}
.common_content h1 {
  font-size: 60px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 58px;
}
/* common End */
/* Home Start */
.home {
  background-image: url(../images/home_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  box-shadow: 0px 0px 110px 20px rgba(44, 43, 43, 0.699) inset;
}
/* Header Start */
header {
}
.logo {
}
.menu {
}
.menu li {
}
.menu li a {
  padding-top: 30px !important;
  padding-bottom: 15px !important;
  padding-right: 30px !important;
  padding-left: 30px !important;
  font-size: 18px;
  font-weight: 400;
  border-radius: 0 0 8px 8px;
  transition: 0.5s;
  color: #ffffff !important;
}
.menu li a:hover {
  background-color: #74c7d5;
  border-radius: 0 0 8px 8px;
  transition: 0.5s;
}
/* Header End */
/* Slider Start */
.slider {
}
.sliderin {
  margin: 0 !important;
}
.sliderin li {
  margin-right: 20px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.4);
}
.s_content {
  margin-bottom: 180px;
  margin-top: 180px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.75);
}
.s_first {
  padding-top: 20px;
}
.s_first h2 {
  font-size: 54px;
  font-weight: 300;
  text-transform: uppercase;
  color: #74c7d5;
}
.s_first p {
  font-size: 54px;
  font-weight: 300;
  line-height: 23px;
  color: #74c7d5;
}
.s_second {
}
.s_second h1 {
  font-size: 130px;
  text-transform: uppercase;
  font-weight: 900;
  color: #74c7d5;
}
/* Slider End */
/* Home End */
/* servic start */
.service {
  background-image: url(../images/service_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.common_content {
  margin-bottom: 120px;
}
.common_content h2 {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  line-height: 58px;
  text-transform: uppercase;
}
.common_content span {
  color: #ec9da2;
}
.common_content p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  color: #ffcccf;
  word-spacing: 1px;
  line-height: 24px;
}
.single_content {
  background-color: #c45158;
  padding: 40px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.75);
}
.single_content img {
  margin-bottom: 26px;
}
.single_content h2 {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.single_content p {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0;
  word-spacing: 1px;
  line-height: 20px;
}
/* servic end */
/* intro start */
.intro {
  background-image: url(../images/intro_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.i_content {
  margin-bottom: 60px;
}
.i_content p {
  margin-top: 25px;
  color: #e5d1e3;
}
.i_shape {
  margin-bottom: 60px;
  width: 100%;
  height: 53px;
  background-color: #a1ca6c;
  border-radius: 5px;
}
.i_shape h2 {
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 56px;
}
.single_content2 {
  background-color: rgba(0, 0, 0, 0.247);
}
.single_content2 h2 {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 900;
  color: #c7b6c5;
}
.single_content2 h2:hover {
  color: #ffffff;
}
.single_content2 h3 {
  font-size: 14px;
  font-weight: 400;
  color: #a1ca6c;
}
.single_content2 h3:hover {
  color: #ff8973;
}
.single_content2 ul {
  margin-top: 30px;
  margin-bottom: 0;
}
.single_content2 ul li {
  margin: 0 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #a1859e;
}
.single_content2 ul li a {
  margin: auto;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
}
.single_content2 ul li:nth-child(1):hover {
  background-color: #4f689e;
}
.single_content2 ul li:nth-child(2):hover {
  background-color: #74c7d5;
}
.single_content2 ul li:nth-child(3):hover {
  background-color: #df5c64;
}
.single_content2 ul li:nth-child(4):hover {
  background-color: #3e61af;
}
/* intro End */
/* gallery start  */
.gallery {
  background-image: url(../images/gallary_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio {
  padding: 40px 0;
}
.portfolio h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  line-height: 40px;
}
.portfolio ul {}
.portfolio ul li {
  margin: 0 20px;
}
.portfolio ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
.portfolio ul li:hover a{
  background-color: #f5c149;
  border-radius: 5px;
}
.gallery_img {
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 50px;
}
.gallery_img img {
  border-radius: 0 !important;
}
.gallery_img figcaption {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #727272;
  text-transform: uppercase;
}
.i_content2 p {
  color: #ffffff !important;
}
/* gallery end */
/* Contact us start */
.contact {
  background-image: url(../images/contact_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.c_same {
  font-size: 30px;
  color: #ffffff;
  font-weight: 300;
}
address {
  margin-bottom: 70px;
}
address h2 {
  font-size: 20px;
  font-weight: 700;
  color: #c0dfda;
}
address p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 21px;
}
.phone {}
.phone p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #d0efea;
}
.f_n {
  margin-bottom: 20px;
  background-color: #68a097;
}
.f_n:focus {
  box-shadow: none !important;
}
.f_b{
  font-size: 26px;
  font-weight: 900;
  color: #ffffff;
  background-color: #df5c64;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}
.f_b:hover {
  background-color: #ffffff;
  color: #df5c64;
}
.f_b:focus {
  outline: none;
}
textarea {
  margin-bottom: 20px;
  height: 170px;
  width: 100%;
  font-size: 16px;
  padding: 12px 12px;
  background-color: #68a097;
  resize: none;
  border: 1px solid #ffffff;
}
textarea:focus {
  outline: none;
  background-color: #ffffff;
}
/* Contact us end */
footer {
  min-height: 140px;
  background-color: #68a097;
}
footer ul {
  padding-top: 50px;
}
footer ul li {
  height: 60px;
  width: 60px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: #82c8bd;
}
footer ul li a {
  margin: auto;
  color: #ffffff;
  font-size: 30px;
  line-height: 60px;
}
footer ul li a:hover {
  color: #ffffff;
}
footer ul li:nth-child(1):hover {
  background-color: #4f689e;
}
footer ul li:nth-child(2):hover {
  background-color: #74c7d5;
}
footer ul li:nth-child(3):hover {
  background-color: #df5c64;
}
footer ul li:nth-child(4):hover {
  background-color: #3e61af;
}